#content {
    margin: auto;
    width: 650px;
}

#map {
    border: thin solid rgb(174, 219, 245);
    height: 500px;
    width: 100%;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

h1 {
    color: rgb(63, 63, 209);
}

#image-container, #edit-image-container {
    width: 100%;
}

#details-container, #edit-container {
    overflow-y: scroll;
    width: 100%;
    height: 450px;
    padding: 10px;
}

#header {
    margin: 10px;
}

#footer {
    width: 100%;
}

#footer-left {
    width: 50%;
    margin: 10px;
}

#footer-right {
    float: right;
}

#panel-container {
    width: 100%;
}

#left-panel {
    width: 50%;
    float: left;
}

#right-panel {
    margin-left: 50%;
}

button {
    margin: 5px;
}

.Edit {
    visibility: hidden;
}