#content {
    margin-left: auto;
    margin-right: auto;
    width: 650px;
}

#greeting-container {
    margin-top: 20px;
}

#map {
    border: thin solid rgb(174, 219, 245);
    height: 500px;
    width: 500px;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

h1 {
    color: rgb(63, 63, 209);
}

