#content {
    margin-left: auto;
    margin-right: auto;
    width: 650px;
}

#greeting-container {
    margin-top: 20px;
}

#map {
    border: thin solid rgb(3, 3, 3);
    height: 500px;
    width: 500px;
  }

  .button {
    display: inline-block;
    border-radius: 20px;
    background-color: #140a01;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 15px;
    padding: 10px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    border:none;
    outline:none;
  }
  
  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button:hover span {
    padding-right: 25px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }
  /* 
   * Optional: Makes the sample page fill the window. 
   */
  html,
  body {
    height: 100%;
    margin: 0;
    padding: 0;
}

